<h1>Dragon ball z</h1>

<hr>

<div class="row">
    <div class="col">
    <!--    <app-personajes [personaje]="personaje"></app-personajes> -->
    </div>

</div>

<br>
<h3>componente agregar</h3>

<app-agregar>
    [nuevo]="nuevo"
    (onNuevoPersonaje) ="agregarNuevoPersonaje( $event )"
</app-agregar>

<!-- 
<h4>Personajes</h4>

<ul>
    <li>Goku->20.000</li>
    <li>Vegeta->10.000</li>
    <li>Krilin->8.000</li>
</ul>

<h4>Agregar nuevo Personaje</h4>

<hr>

<form (ngSubmit)="agregar()">
<input type="text" name="Nombre" placeholder="Nombre" [(ngModel)]="nuevo.nombre">
<br>
<input type="number" name="numero" placeholder="numero" [(ngModel)]="nuevo.poder">
<br>
<button type="submit">Agregar</button>
</form>
-->


