<h5>Buscar:</h5>
<input type="text" class="form-control" placeholder="Buscar gifs..."
(Keyup.enter)="buscar()"
#txtBuscar/>




<!-- (Keyup.enter)  Cuando pulse el botón de ENTER dispara el evento -->
  <!-- En el evento también podríamos tener la información de la caja de texto, mediante una referencia local llamada
    "txtBuscar" y mandar ese valor al método buscar (txtBuscar.value)
  <input type="text" class="form-control" placeholder="Buacar gifs..."
(Keyup.enter)="buscar(txtBuscar.value)"
#txtBuscar/>-->
